{% extends "base_gymman.html" %}
{% block title %}<title>Exercise Logs | gymman(demo);</title>{% endblock %}
{% block sidebar %} 
<li><a href="/owner/dashboard">Dashboard</a></li> 
<li><a href="/owner/memberships">Manage Memberships</a></li> 
<li><a href="/owner/payments">Manage Payments</a></li> 
<li><a href="/owner/staff">Manage Staff</a></li> 
<li><a href="/owner/trainers">Manage Trainers</a></li> 
<li><a href="/owner/exercise_logs" class="active">Exercise Logs</a></li> 
<li><a href="/owner/error_logs">Error Logs</a></li>
{% endblock %}
{% block content %} 

{% endblock %}