<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>gymman (demo)</title>{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='gymman_styles.css') }}">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
</head>
<body>
  <div class="container">

    <!-- Sidebar Navigation -->
    <aside class="sidebar">
        <h2>gymman</h2>
        <nav>
            <ul>
                {% block sidebar %}{% endblock %}
                <li><a href="/gymman-logout" class="sidebar-logout-btn">Log Out</a></li>
            </ul>
        </nav>
    </aside>


    <!-- Main Content -->
    <main class="main-content">
      
      {% block content %}

      {% endblock %}

    </main>

  </div>
</body>
</html>