{% extends "base.html" %}
{% block content%}
<section id="hero">
    <div class="hero-content">
        <h1>Hey, I’m Isaac.</h1>
        <p>
            A Computer Science student & developer passionate about building efficient, creative software solutions.
        </p>
        <a href="#projects" class="btn">View My Work</a>
    </div>
    <div class="profile-container">
        <img class="profile-image" src="../static/images/profile.jpg" alt="Profile Picture">
    </div>
</section>

<div id="about"></div>
<section id="sub">
    <h2>[ About Me ]</h2>
    <p>
        I'm a currently a student at Missouri S&T studying Computer Science with a minor in Computer Engineering & Mathematics.
        I love working with all things that have to do with computing. Get a load of this guy, what a nerd!
    </p>
    <a href="/about-me" class="btn">My Bio</a>
</section>

<section id="projects">
    <h2>[ Projects ]</h2>
    <div class="projects-grid">
        <div class="project-card">
            <h3>Gymman</h3>
            <p>A database-backend gym management application for membership, staff,
          trainer, and exercise management. Built with Python and MariaDB with a web based
          client. [WIP]</p>
            <a rel="link" href="https://github.com/Isaac-Stephens/Gym-Manager" class="btn small">View GitHub</a>
            <a href="/gymman-login" class="btn small">Web Demo</a>
        </div>
        <div class="project-card">
            <h3>Home Server Setup</h3>
            <p>Self-hosted website using Nginx, Debian, and Cloudflare Tunnels for secure remote access.</p>
            <a rel="link" href="/my-homelab" class="btn small">View</a>
        </div>
        <div class="project-card">
            <h3>Scheduling Analysis Report</h3>
            <p>A Comparative Performance and Scheduling Analysis Across Linux Kernel Versions 4.19 and 6.6</p>
            <p><i>(CS3800: Operating Systems Final Project)</i></p>
            <a rel="link" href="/comparative-analysis-of-linux-scheduling" class="btn small">View</a>
        </div>
        <div class="project-card">
            <h3>Real-Time Containers</h3>
            <p>A study evaluating how Docker containerization and Linux kernel configurations affect latency, jitter, and deadline predictability in soft real-time workloads.</p>
            <p><i>(CpE5170: Real-Time Systems Semester Project)</i></p>
            <a rel="link" href="/real-time-containers" class="btn small">View</a>
        </div>
    </div>
</section>

<section id="sub">
    <div id="contact"></div>
    <h2>[ Get In Touch ]</h2>
    <p>Interested in collaborating or just saying hi?</p>
    <a href="mailto:isaac.stephens1529@gmail.com" class="btn">Email Me</a>
</section>
{% endblock %}