<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="../static/resume.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
  </head>

  <body>
    <header class="navbar">
      <div class="logo">
        isaacStephens(about);
      </div>
      <nav>
        <a href="/">{Home}</a>
      </nav>
    </header>

    <!-- HERO / INTRO -->
    <section id="intro" class="section">
      <div class="intro-container">
        <div class="profile-container">
        <img class="profile-image" src="../static/images/profile.jpg">
        </div>
        <h1>Isaac Stephens</h1>
        <p>Yep, that my name, don't wear it out! 
           Computer Science student, U.S. Army NCO, and software developer
           focused on Linux systems, DevOps, automation, and backend development.
           I enjoy building reliable systems, automating repetative work, and solving
           problems at the intersection of software, infastructure, and engineering.
        </p>
        <a class="download-btn" href="{{ url_for('static', filename='documents/IsaacStephens_RESUME_Fall2026.pdf') }}" download>Download Resume</a>
      </div>
    </section>

    <!-- QUICK STATS -->
    <section id="quick-stats" class="section">
      <div class="stats-grid">
        <div><strong>Location:</strong> Missouri, USA</div>
        <div><strong>Education:</strong> B.S. Computer Science, Missouri S&T</div>
        <div><strong>Tech Focus:</strong> Software Engineering, DevOps & Linux Systems</div>
        <div><strong>Graduation:</strong> May 2027</div>
        <div><strong>Looking For Work?:</strong> Yes</div>
      </div>
    </section>

    <!-- EXPERIENCE -->
    <section id="experience" class="section">
      <h2>[ Experience ]</h2>
      <div class="experience-item">
        <h3>Missouri S&T - Computer Science</h3>
        <p>
            Devolop a strong foundation in software engineering, systems programming, algorithms,
            databases, operating systems, and computer architecture. Build projects spanning C/C++,
            Python, web applications, database systems, graphics, and Linux environments.
        </p>
        <p>Jan 2022 -> May 2027</p>
      </div>
      <div class="experience-item">
        <h3>MST Materials Research Center - Undergraduate Research Assistant</h3>
        <p>
            Apply my computer science background to research by developing automation tools for
            extracting, organizing, and preparing research documents and data for AI-driven analysis.
            Work with faculty and graduate researchers while maintaining detailed technical 
            documentation and reproducible processes.
        </p>
        <p>
            Conduct interdiciplinary research for the Critical Materials Innovation Hub (CMI),
            investigating electrochemical processes through experimental methods, quantitative
            analysis and reproducible workflows.
        </p>
        <p>May 2024 -> Aug 2024, May 2026 -> Present</p>
      </div>
      <div class="experience-item">
        <h3>Missouri Army National Guard - Sergeant (E5)</h3>
        <p>
            Lead teams and manage transportation operations on state and federal missions.
            Coordinated personnel, equipment, and logistics while maintaining accountability
            for high-value equipment and operating effectively in high-tempo environments.
        </p>
        <p>
            Develop practical experience in leadership, systems management, documentation,
            troupbleshooting, and operational planning.
        </p>
        <p>
            Active DoD Secret Clearance
        </p>
        <p>Jun 2020 -> Present</p>
        <div class="resume-container">
          <img class="resume-image" src="../static/images/isaac_pog.jpg">
          <img class="resume-image" src="../static/images/truck.jpg">
        </div>
      </div>
    </section>

    <!-- PROJECTS -->
    <section id="projects" class="section">
      <h2>[ Projects ]</h2>
      <div class="project-item">
        <h3>Personal Linux Server & Website Infastructure</h3>
        <p>
            Designed and maintain a Linux-based server environment running Debian, Nginx, Gunicorn,
            Flask, MariaDB, SSH, and Cloudflare Tunnels to host and deploy my personal website
            (<a href="https://isaacstephens.com" target="_blank">isaacstephens.com</a>)
            and applications. Manage server configuration, networking, DNS, security, and 
            application deployment. 
        </p>
        <a href="https://github.com/Isaac-Stephens/isaacstephens.com"
           class="btn"
           target="_blank"
           rel="noopener noreferrer">
            GitHub
        </a>
      </div>
      <div class="project-item">
        <h3>Gymman - Gym Management system</h3>
        <p>
          Developing a database-backend gym management application for membership, staff,
          trainer, and exercise management. Built with Python and MariaDB with a web based
          client. Try out the <a href="https://isaacstephens.com/gymman-demo" target="_blank">demo</a>!
        </p>
        <a href="https://github.com/Isaac-Stephens/Gym-Manager"
           class="btn"
           target="_blank"
           rel="noopener noreferrer">
            GitHub
        </a>
      </div>
    </section>



    <!-- EDUCATION -->
    <section id="education" class="section">
      <h2>[ Education ]</h2>
      <p><strong>Missouri University of Science & Technology</strong> — B.S. Computer Science</p>
      <p><strong>Minors:</strong> Computer Engineering & Mathematics</p>
      <p><strong>GPA:</strong> 3.3 | <strong>Expected Graduation:</strong> Spring 2027</p>
      <p><strong>Coursework:</strong></p>
      <ul class="skills-list">
        <li>Operating Systems (CS3800)</li><li>Computer Networks (CS3610)</li>
        <li>Databases & File Structures (CS2300)</li><li>Software Engineering Capstone I (CS4090)</li>
        <li>Real Time Systems (CE5170)</li><li>Computer Organization & Design (CS3800)</li>
        <li>Data Structures (CS1575)</li><li>Analysis of Algorithms (CS5200)</li>
      </ul>
      
    </section>

    <!-- SKILLS -->
    <section id="skills" class="section">
      <h2>[ Skills ]</h2>
      <ul class="skills-list">
        <li>C/C++</li>
        <li>Python</li>
        <li>Assembly</li>
        <li>SQL</li>
        <li>Apache</li>
        <li>Nginx</li>
        <li>Clouldflare</li>
        <li>Linux</li>
        <li>Git/GitHub Actions</li>
        <li>MySQL</li>
      </ul>
    </section>
    <section id="industry" class="section">
      <h2>[ Engineering & Industry ]</h2>
      <p>
        My background combines computer science with hands-on experience in engineering research and military
        operations. Through the Critical Materials Innovation Hub, I have worked alongside materials researchers
        and gained exposure to electrochemical processes, critical-materials research, experimental data, and
        scientific workflows.
      </p>
      <p>
        This combination of software , systems, and engineering experience gives me an interest in applying computing
        and automation to industries such as mining, critical materials, manufacturing, energy, defense, and national
        labratory research.
      </p>
    </section>

    <!-- PERSONAL -->
    <section id="personal" class="section">
      <h2>[ Beyond the Code ]</h2>
      <p>When I’m not coding, I lift heavy circles as a powerlifter, worldbuild for my ongoing D&D campaigns, explore new open-source projects, and keep my home network running efficiently with as little money as possible (lol this server is running off a $15 computer from the S&T surplus store, and I love it that way). I'm also an active member of the Baptist Student Union at Missouri S&T where I serve on the worship team :)</p>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
      <p><strong>Want to connect?</strong> <a href="mailto:isaac.stephens1529@gmail.com">Email me</a>, check out my <a href="https://github.com/Isaac-Stephens" target="_blank">GitHub</a>, or add me on <a href="https://www.linkedin.com/in/isaacstephens1529/">LinkedIn</a>!</p>
      <p>© 2026 Isaac Stephens. All rights reserved.</p>
    </footer>
  </body>
</html>