{% extends "base_gymman.html" %}
{% block title %}<title>Membership Information | gymman(demo);</title>{% endblock %}
{% block sidebar %} 
<li><a href="/member/dashboard">Dashboard</a></li>
<li><a href="/member/profile">My Profile</a></li>
<li><a href="/member/membership" class="active">My Membership</a></li>
<li><a href="/member/workouts">My Workouts</a></li>
<li><a href="/member/payments">My Payments</a></li>
<li><a href="/member/support">Support</a></li>
{% endblock %}
{% block content %} 

{% endblock %}